{% extends "indexbase.html" %}
{% load staticfiles %}
{% block title %}企业邮箱{% endblock %}

{% block css %}{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        档案维护
        <small>assets list</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/index"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">会议室档案</li>
      </ol>
    </section>
{% endblock %}

{% block content %}
    <!-- Main content -->

    <!-- /.content -->
{% endblock %}


    <!-- REQUIRED JS SCRIPTS -->
{% block script %}

{% endblock %}